<div class="posts">
    <h2>
        Author: {{userName}}
    </h2>
    <hr>
    <h2>
        Title: {{title}}
    </h2>
    <hr>
    <h3 class="timeData">
        {{dateFormat createdAt "dddd, MMMM Do YYYY"}}
    </h3>
    <p>
        {{text}}
    </p>
</div>