<div class="posts">
    <h2>
        Author: {{dataValues.userName}}
    </h2>
    <hr>
    <h2>
        Title: {{dataValues.title}}
    </h2>
    <hr>
    <h3 class="timeData">
        {{dataValues.createdAt}}
    </h3>
    <p>
        {{dataValues.text}}
    </p>
</div>