<section class="about-us">
<div>
    <ul>
        <a class=" footer-links" href="#">About Us</a>
        <a class=" footer-links" href="#!">Help</a>
        <a class=" footer-links" href="#!">Contact</a>
    </ul>   
</div>
</section>
<footer class="posts">
    <h3>© 2020 Copyright</h3>
</footer>
