form.signup,
form.login {
  margin-top: 50px;
}

hr{
  color: #fff;
  width: 70%;
}
/* <<<<<<< venus */
h1{
  font-family: 'Cormorant Garamond', serif;
}

.title{
  margin-left: 2rem!important;
  margin-right: 2rem!important;
}

.link{
  display: inline-flex;
  padding-left: 0%!important;
}

.log{
  max-width: max-content;
  padding-left: 0%!important;
}

.alert{
  font-weight: bolder;
  color: red;
  text-align: center;
  max-width: max-content;
  font-size: 1.7rem;
  padding-top:.4rem;
}
.alert2{
  font-weight: bolder;
  color: red;
  text-align: center;
  max-width: max-content;
  font-size: 1.7rem;
  margin-top: .5rem!important;
  margin-left: 1rem;
}
.alert3{
  font-weight: bolder;
  color:green;
  text-align: center;
  max-width: max-content;
  font-size: 1.7rem;
  margin-top: .5rem!important;
  margin-left: 1rem;
}

body {
  background: url('https://a0.muscache.com/im/pictures/de26f95b-fc03-4918-9df9-e3be5593adc8.jpg?im_w=1680') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#traveler{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about{
  color:white;
}

a{
  font-size: 150%;
  color:white;
}

.footer-copyright{
  font-size: 150%;
  color:white;
}

.page-footer{
  margin-top: 5rem!important;
  margin-bottom: 1rem!important;
}

.navigation{
  text-align: center!important;
  align-items: center!important;
  justify-content: center!important;
  display: inline-flex;
}
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  padding-bottom: 20px;
}

.card {
  background-color: white;
  color: inherit;
  opacity: 0.8;
  padding: 25px;
}

i {
  padding-right: 10px;
}

button.member {
  padding: 20px;
  font-size: 15px;
  min-width: 200px;
  max-width: 200px;
}
/* .bg-dark { */
  /* background-color: #343a40!important; */
/* }  */

/* .text-white { */
  /* color: #fff!important; */
/* } */ 
/* >>>>>>> main */
